{% extends "base.html" %}

{% block content  %}    
 <!-- Header-->
 <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to our ecommerce site</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <center>
            <Div class="col-8">
                <P align='justify'>
                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lobortis tincidunt neque, id faucibus purus. Vivamus finibus eros eget ornare porta. Donec at euismod sapien. Sed dignissim imperdiet maximus. Nulla turpis nulla, sollicitudin sed odio in, tempus dapibus est. Quisque vel lacus a nisi sagittis fringilla vel non dolor. Fusce tempus, dui a sagittis pellentesque, massa sapien consectetur nibh, in fermentum sem enim et orci. Vestibulum semper pharetra tincidunt. Pellentesque vel leo in enim ornare suscipit vel sed urna.

Mauris fermentum dignissim finibus. Vestibulum laoreet, magna ac dictum ultrices, nibh ex dictum libero, in rhoncus felis odio sit amet ante. Praesent lectus leo, porta id ultricies at, condimentum vel ante. Vestibulum ac lorem nec turpis hendrerit elementum nec id mi. Sed gravida felis et lacus suscipit, non fringilla enim commodo. Duis gravida neque est, quis viverra mauris mattis quis. Vestibulum placerat lacus porttitor, hendrerit dolor vel, varius nunc. Vivamus aliquam a lacus a pharetra. Suspendisse sed nulla in sapien dapibus cursus at congue lacus. Phasellus quis dapibus magna, vel convallis nisi. Praesent dignissim, ex vitae convallis faucibus, risus purus dictum quam, id dapibus diam velit ut enim.

Nam consectetur, leo eget vehicula lobortis, ante ipsum posuere nulla, nec cursus elit dolor nec ante. Vestibulum a arcu vel nibh gravida faucibus nec ut leo. Sed pellentesque mollis nisi. Donec tristique leo rhoncus risus suscipit, non tincidunt purus fringilla. Vestibulum varius risus quis arcu tempor, id rutrum sapien lacinia. Integer sed elit nisi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin ultrices dapibus odio id sollicitudin. Integer ac libero mollis, rutrum enim et, posuere risus. Morbi ut orci suscipit, tincidunt urna id, consectetur eros. Aenean in iaculis sem. Etiam rutrum massa elementum lacinia venenatis
                </P>
            </Div>
        </center>
    </div>
</div>


{% endblock  %}